<html>
    <head>
        <title>12:55 Search Engine</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <div class="isi">
            <div class="about">
            <h1>How to Use</h1>
            <p>(isi di sini)</p>
            <h1>About Us</h1>
            <h3>Team duabelaslimalima</h3>
            <p>13519034 Ruhiyah Faradishi Widiaputri</p>
            <p>13519063 Melita</p>
            <p>13519179 Akifa Nabil Ufairah</p>
            <p></p>
            <p><a href="{{url_for('index')}}">Kembali</a></p>
            </div>
        </div>
    </body>
</html>