<html>
    <head>
        <title>12:55 Search Engine</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <div class="isi">
            <div class="cari">
                <img class="logo" src="/static/images/1255.png">
                <form method="POST">
                    <input class="tfield" name="text">
                    <input class="searchbutton" type="submit" value="🔍">
                </form>
            </div>
            <div class="teks">
                {% if query!='' %}
                    <h3>Search results for <i>{{query}}</i> : </h3>
                    <div class="res">
                        <div class="res2">
                        {% for k,v in sim_sorted %}
                            {% if v!=0: %}
                                <p><big><a href="{{urls[k]}}">{{title[k]}}</a></big><br>
                                Jumlah kata: {{banyakkata[k]}}<br>
                                Nilai Similaritas: {{v}}<br>
                                {{short_desc[k]}}
                                </p>
                            {%endif%}
                        {% endfor %}
                        </div>
                    </div>
                    <br>
                    {%for tab in tables%}
                        {{tab|safe}}
                    {%endfor%}
                {% endif %}
            </div>
            <div class="footer">
            <a href="about">Perihal</a>
            </div>
        </div>
    </body>
</html>