<html>
    <head>
        <title>12:55 Search Engine</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <div class="isi">
            <div class="cari">
                <img class="logo" src="/static/images/1255.png">
                <form method="POST">
                    <input class="tfield" name="text">
                    <input class="searchbutton" type="submit" value="🔍">
                </form>
            </div>
            <div class="teks">
                {% if query!='' %}
                    <h3>Search results for <i>{{query}}</i> : </h3>
                    {% for k, v in sim_sorted %}
                        {% if v != 0.0 %}
                            <a href="{{urls[k]}}">{{title[k]}}</a>
                            <p>{{short_desc[k]}}</p>
                            <p>Nilai Similaritas: {{v}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="footer">
            <a href="about">Perihal</a>
            </div>
        </div>
    </body>
</html>