@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
  background-color: powderblue;
}

.cari{
    font-family: 'Itim', cursive;
    text-align: center;
    padding-top: 2em;
}

.logo{
    width: 70%;
    max-width: 700px;
    margin-bottom: 30px;
}

.teks{
    font-family: 'Itim', cursive;
    text-align: center;
    padding-bottom: 2em;
}

.isi{
    width:100%;
    height:100%;
}

.tfield{
    width:50%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #142d40;
    color: #43454a;
    background-color: #f0ffff;
    font-family: 'Itim', cursive;
    font-size: 15px;
}

.searchbutton{
    padding: 9px 15px;
    border-radius: 10px;
    border: 1px solid #142d40;
    background-color: #22679c;
    color: #ffffff;
    font-family: 'Itim', cursive;
    font-size: 15px;
}

.footer{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Itim', cursive;
}

a{
    text-decoration: none;
}

.about{
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    font-family: 'Itim', cursive;
    text-align: center;
    color: #43454a;
}

.table {
    width: 100%;
    border-collapse: collapse;
    height: 70px;
    text-align: center;
    border: #262929;
}

.table th{
    padding: 10px;
    text-align: center;
    background-color: #5e918e;
    color: #edfffe;
    font-weight: normal;
}

.table tr:nth-child(even){
    background-color: #e6fcfb;
}

.table tr:hover{
    background-color: #8fc2bf;
}

.res{
    justify-content: center;
    display:flex;
}

.res2{
    display: block;
    text-align: left;
    width:50%;
}
